{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}

<div class="container">
    <p>Username: {{ object.username }}</p>
    <p>Email: {{ object.email }}</p>
    <img class="profileimg" src="{{object.profileimg.url}}" alt="Profile image">
    <h3>About {{ object.username }}</h3>
    <p>{{object.bio}}</p>
    
    {% if request.user.id == user.id %}
    <a href="{% url 'users:update-profile' user.id %}">Edit Profile</a>
    <a href="{% url 'users:change-password' user.id %}">Change Password</a>
    {% endif %}

</div>


<div class="container">
    {% if object %}
        <h2>{{ object.get_full_name|default:object.username }}'s Stories</h2>
        {% for story in object.stories.all %}
        <div class="story-card" id="story-card-{{ position }}">
            <a href="{% url 'news:story' story.id %}">
                <img src="{{story.image}}">
                <div class="story-card-text">
                    <h3>{{ story.title }}</h3>
                    <h4><a href="{% url 'users:author-detail' story.author.id %}">
                        {{ story.author }}</a></h4>
                    <h4>{{ story.pub_date }}</h4>
                </div>
                <div>
                {% if request.user.id == story.author.id %}
                <a href="{% url 'news:editStory' story.id %}">Edit this Story</a>
                <a href="{% url 'news:deleteStory' story.id %}">Delete this Story</a>
                {% endif %}
                </div>
            </a>
        </div>    
        {% endfor %}
    {% else %}
        <p>This author has not written any stories yet.</p>
    {% endif %}
</div>



{% endblock %}