{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}

<div id="button-wrapper">
    <a id="edit-buttons" href="{% url 'news:index'%}">Home</a>
    <a id = "edit-buttons" href="{% url 'users:author-detail' story.author.id %}">View Author Page</a>
    </div>

<div id="story-wrapper">
    <h2>{{ story.title }}</h2>
    <h4>{{ story.author }}</h4>
    <div id="story-content">
        <img src="{{ story.image }}">
        {{ story.content|linebreaks }}
    </div>
</div>





<div>{{ comment.body }}</div>
{% endblock%}